In [17]:
#Q-1 Write a code to reverse a string
string  =  "Hello, World!"
reverse_string = string[::-1]
print(reverse_string)

reverse_string = ""
for i in string:
    reverse_string = i + reverse_string
print(reverse_string)

!dlroW ,olleH
!dlroW ,olleH

In [19]:
#Q-2 Write a code to count the number of vowels in a string.
string  = "what is this, and what is your name"
vowal = "aeiouAEIOU"
count = 0
for i in string:
    if i in vowal:
        count+=1
print(count)

10

In [87]:
#Q-3 Write a code to check if a given string is a palindrome or not.


# Palindrom is a that reading from start or last are same.
def plaindrom(x):

    check = "".join(i.lower() for i in x if i.isalnum())
    count = -1

    if check == check[::-1]:
        a= True
    else:
        a = False
    return a
    # return check == check[::-1]
            
string_1 = "Akbar" # not Palindrom
string_2 = "akbaabka"
s = "jaaj"
plaindrom(string_1)

False

In [107]:
#Q-4 Write a code to check if two given strings are anagrams of each other.


# Anagram is if two string made be same character

string_1 = "Tiger"
string_2 = "igter"
# string_1 = string_1.lower()
# string_2 = string_2.lower()

string_1 = "".join(sorted(string_1.lower()))
string_2 = "".join(sorted(string_2.lower()))

if string_1 == string_2:
    print(f"This string '{string_1}' is anagrams")
else:
    print(f"This string '{string_1}' is not anagrams ")

This string 'egirt' is anagrams

In [133]:
#Q-5 Write a code to find all occurrences of a given substring within another string

string = """A Data Toolkit is a collection of tools, resources, and methodologies designed to support
various stages of data management, analysis, and visualization. It can be tailored for specific use cases or 
industries, but generally, it includes tools and techniques for:"""

occur = "is" # input("What you want to find : ") 
position = []
start = 0
for i in range(len(string)):
    index = string.find(occur, start)

    if index == -1 :
        break
    position.append(index)
    start = index + 1
if position:
    print(f"'{occur}' occurance is : {position} ")
else:
    print(f"''{occur}'' occurance is not found in the string ")

'is' occurance is : [15, 131, 140]

In [145]:
#Q-6 Write a code to perform basic string compression using the counts of repeated characters.

string = "aaabbddduutt"
count = 1
lists = []
for i in range(1,len(string)):
    if string[i] == string[i-1]:
        count+=1
    else :
        lists.append(string[i-1] + str(count))
        count = 1
if string:
    lists.append(string[-1] + str(count))
lists = "".join(lists)
lists

'a3b2d3u2t2'

In [517]:
#Q-7 Write a code to determine if a string has all unique characters

string  = "danger"
# string =  sorted(string)
ch = set()
unique = True
for char in string:
    if char in ch:
        unique = False
        break
    ch.add(char)
if unique:
    print(f"{string} string is unique ")
else:
    print(f"{string} string is not unique")

# Write a code to determine if a string has all unique characters

string = "abcdefd"
count = 0
for i in range(len(string)):
    if string[i] in string[i+1:]:
        count = 1 
        break
if count==0:
        print("Unique")
else:
    print("not unique")

danger string is unique
not unique

In [223]:
def has_unique_characters(s):
    # Using a set to track seen characters
    seen = set()
    for char in s:
        if char in seen:
            return False
        seen.add(char)
    return True

# Example usage
string = "abcdefg"
print(f"Does the string '{string}' have all unique characters? {has_unique_characters(string)}")

string = "hello"
print(f"Does the string '{string}' have all unique characters? {has_unique_characters(string)}")

Does the string 'abcdefg' have all unique characters? True
Does the string 'hello' have all unique characters? False

In [247]:
def has_unique (s):
    seen = set()

    for char in s:
        if char in seen:
            return False
        seen.add(char)
    return True

string  = "abcde"

print(f"{string} have all unique characger {has_unique(string)}")

abcde have all unique characger True

In [259]:
#Q-8 Write a code to convert a given string to uppercase or lowercase
a= "What is your name"
a = a.upper()
print(a)
a= a.lower()
print(a)
a= a.capitalize()
print(a)
a= a.title()
print(a)

WHAT IS YOUR NAME
what is your name
What is your name
What Is Your Name

In [311]:
#Q-9 Write a code to count the number of words in a string.
string = "what is your name"
list_of_string = string.split()
count = len(list_of_string)
print(f"''{string}'' have {count} words ")

''what is your name'' have 4 words

In [10]:
#Q-10 Write a code to concatenate two strings without using the + operator

s_1 = "What "
s_2 = "is your name"
# s_1+s_2
j = "".join([s_1, s_2])
j

'What is your name'

In [359]:
#Q-11 Write a code to remove all occurrences of a specific element from a list
name = ["sonu", "Ankur", "Gupta", "Ankur","Gupta"]
rmv =  "Ankur"
for i in name:
    if rmv in i: 
        name.remove("Ankur")
print(name)
name_2 = []
for i in name:
    if i!=rmv:
        name_2.append(i)

name_2

['sonu', 'Gupta', 'Gupta']

['sonu', 'Gupta', 'Gupta']

In [389]:
#Q-12 Implement a code to find the second largest number in a given list of integers.

number = [55,121,4654,212,5641,2121,6,2,15,2,2,1,2,4542,5656,215,10.0,165]
number = sorted(number,reverse=-1)
print(number)
print(number[1])

[5656, 5641, 4654, 4542, 2121, 215, 212, 165, 121, 55, 15, 10.0, 6, 2, 2, 2, 2, 1]
5641

In [377]:
number = [55,121,4654,212,5641,2121,6,2,15,2,2,1,2,4542,5656,215,10.0,165]
uni = list(set(number))
uni.sort(reverse = True)
if len(uni)>1:
    second_larg = uni[1]
    print(f"second largest number is {second_larg}")
else:
    print("list have only one arguement")

second largest number is 5641

In [36]:
#Q-13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as
# keys and their counts as values

#Way-1
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
dic = {}
for i in number:
    dic[i] = dic.get(i,0)+1
print(dic)

#way-2
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
dic = {}
for i in number:
    dic[i] = number.count(i)
print(dic)
        

# number_2.update({"d" : "gg", "f" : "dd" } )

{55: 1, 121: 1, 4654: 1, 212: 2, 5641: 1, 2121: 1, 6: 2, 2: 4, 15: 1, 1: 1, 4542: 1, 5656: 1, 215: 1, 10.0: 1, 165: 1}
{55: 1, 121: 1, 4654: 1, 212: 2, 5641: 1, 2121: 1, 6: 2, 2: 4, 15: 1, 1: 1, 4542: 1, 5656: 1, 215: 1, 10.0: 1, 165: 1}

In [100]:
#Q-14 Write a code to reverse a list in-place without using any built-in reverse functions
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]

i = len(number)
new = []
# Way-1
while i>0:
    new.append(number[i-1])
    i-=1
print(new)

# Way-2
reve_1 = number[::-1]
reve_1

[165, 10.0, 215, 5656, 4542, 2, 1, 2, 2, 6, 15, 2, 6, 2121, 5641, 212, 212, 4654, 121, 55]

[165,
 10.0,
 215,
 5656,
 4542,
 2,
 1,
 2,
 2,
 6,
 15,
 2,
 6,
 2121,
 5641,
 212,
 212,
 4654,
 121,
 55]

In [116]:
#Q-15 Implement a code to find and remove duplicates from a list while preserving the original order of element

number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
new_list = []
seen = set()
remove_list = []
for i in number:
    if i not in seen:
        new_list.append(i)
        seen.add(i)
    else:
        remove_list.append(i)
        
print(new_list)
print(seen)
print(remove_list)

[55, 121, 4654, 212, 5641, 2121, 6, 2, 15, 1, 4542, 5656, 215, 10.0, 165]
{1, 2, 165, 6, 5641, 2121, 10.0, 4654, 15, 212, 55, 5656, 121, 215, 4542}
[212, 6, 2, 2, 2]

In [207]:
#Q-16 Create a code to check if a given list is sorted (either in ascending or descending order) or not

                            # Way-1
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
number= sorted(number)
ascending = True
descending = True
for i in range(len(number)-1):
    if number[i]<number[i+1]:
        # print("sorted asce")
        descending = False
    if number[i]>number[i+1]:
        # print("soreted dec")
        ascending = False
    # else:
    #     print("not sorted")
if ascending:
    print("this is ascen")
elif descending:
    print("this is desc")
else:
    print("not sorted")

                            # Way-2

number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]

def sort_or_not (number):
    if all([number[i]<number[i+1]for i in range(len(number)-1)]):
       return "Assc"
    if all ([number[i]>number[i+1]for i in range(len(number)-1)]):
        return "desc"
    else:
        return "not sorted"
sort_or_not(number)

                        # Way-3

def sort_or_not (number):
    ass = True
    des = True
    for i in range(len(number)-1):
        if number[i] < number[i+1]:
            des = False
        elif number[i]>number[i+1]:
            ass = False
        else:
            return "not sorted"
    if ass:
        return "this is ass"
    elif des:
        return "this is des"
        
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
# number = sorted(set(number))


sort_or_not(number)

this is ascen

'not sorted'

In [18]:
#Q-17 Write a code to merge two sorted lists into a single sorted list

number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
number_2 = [55,66,521,12,45,1,5,12,54,12,5412,542,12,31]

number= sorted(number)
number_2 = sorted(number_2)
new_list = []
# single_sort = number + number_2
# print(single_sort)
i=0
j=0
while i <len(number)and j <len(number_2):
   if number[i]<number_2[j]:
       new_list.append(number[i])
       i+=1
   else:
       new_list.append(number_2[j])
       j+=1
new_list.extend(number[i::])
new_list.extend(number_2[j::])
print(new_list, len(new_list))
print(len(number) + len(number_2) )

[1, 1, 2, 2, 2, 2, 5, 6, 6, 10.0, 12, 12, 12, 12, 15, 31, 45, 54, 55, 55, 66, 121, 165, 212, 212, 215, 521, 542, 2121, 4542, 4654, 5412, 5641, 5656] 34
34

In [25]:
#Q-18 Implement a code to find the intersection of two given lists
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
number_2 = [55,66,521,12,45,1,5,12,54,12,5412,542,12,31]

number = set(number)
number_2 = set(number_2)
print(number.intersection(number_2))
inter_action  = []

for num in number:
    if num in number_2:
        inter_action.append(num)
print(inter_action)

{1, 55}
[1, 55]

In [3]:
#Q-19 Create a code to find the union of two lists without duplicates
number = [55,121,4654,212, 212,5641,2121,6,2,15,6,2,2,1,2,4542,5656,215,10.0,165]
number_2 = [55,66,521,12,45,1,5,12,54,12,5412,542,12,31]

sort_number = sorted(set(number))
sort_number2 = sorted(set(number_2))

new_list = sort_number
i = 0
while i<len(sort_number2):
    if sort_number2[i] not in sort_number:
        new_list.append(sort_number2[i])
    i+=1
print(new_list)
sort_number.

[1,
 2,
 6,
 10.0,
 15,
 55,
 121,
 165,
 212,
 215,
 2121,
 4542,
 4654,
 5641,
 5656,
 5,
 12,
 31,
 45,
 54,
 66,
 521,
 542,
 5412]

In [7]:
#Q-21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
# common to both input tuples

tuple1 = (1,2,3,4,5,8,6,5,9)
tuple2 = (5,7,9,3,2,10)
newtuple = []
for num in tuple1:
    if num in tuple2 and num not in newtuple:
        newtuple.append(num)

newtuple =  tuple(newtuple)
# tup = tuple(newtuple)
# tup
newtuple

(2, 3, 5, 5, 9)

In [52]:
tup =  (1,33,3,3)
type(tup)

tuple

In [5]:
#Q-22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
# intersection of these two sets.

set1_input = input("Enter the first set of integers, separated by commas: ")
set2_input = input("Enter the second set of integers, separated by commas: ")

# Convert the input strings to sets of integers
# set1 = set(map(int, set1_input.split(',')))
# set2 = set(map(int, set2_input.split(',')))

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Find the intersection of the two sets
intersection = set1 & set2

# Print the result
print("The intersection of the two sets is:", intersection)

Enter the first set of integers, separated by commas:  5,6,10
Enter the second set of integers, separated by commas:  5,4

The intersection of the two sets is: {'5'}

In [5]:
#Q-23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
# tuple containing elements from both input tuples.

def tup(tuple1, tuple2):
    if not isinstance(tuple1, tuple) or not isinstance(tuple2, tuple):
        return "only tuple is allowed"
    return tuple1+tuple2
one = (6,10,15)
two = (10,5,8)
tup(one,two)

(6, 10, 15, 10, 5, 8)

In [7]:
#Q-24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
# present in the first set but not in the second set.
string1 = input("Enter the first set of string, seprated by commas:")
string2 = input("Enter the second set of string, seprated by commas:")

set1 = set(map(str, string1.split(",")))
set2 =  set(map(str, string2.split(",")))
set3 = set()

for num in set1:
    if num not in set2:
        set3.add(num)
print(set3)

Enter the first set of string, seprated by commas: ankur,garg,shivank
Enter the second set of string, seprated by commas: garg,ankur,sonu

{'shivank'}

In [88]:
#Q-25 Create a code that takes a tuple and two integers as input. The function should return a new tuple
# containing elements from the original tuple within the specified range of indices&
def range_indicate(tuple_1, x, y):
    if not isinstance(tuple_1, tuple) :
        return "Type error, this is not tuple"
    if not isinstance(x, int) or not isinstance(y,int):
        return "int error"
    return tuple_1[x:y]

number_2 = (55,66,521,12,45,1,5,12,54,12,5412,542,12,31)
start = 2
end = 5
range_indicate(number_2,start,end)

(521, 12, 45)

In [43]:
#Q-26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&

string1 = input("enter the character in set1 with commas : ")
string2 = input("enter the character in set2 with commas: ")

set1 = set(map(str, string1.split(",")))
set2 = set(map(str,string2.split(",")))
set3 = set()

print(set(sorted(set1.union(set2)))) # one way

for num in set1: # Second way
    set3.add(num)
for num in set2: 
    if num not in set3:
        set3.add(num)
set(sorted(set3))

enter the character in set1 with commas :  a,b,c,d
enter the character in set2 with commas:  d,c,j,k

{'j', 'c', 'k', 'a', 'b', 'd'}

{'a', 'b', 'c', 'd', 'j', 'k'}

In [18]:
#Q-27 Develop a code that takes a tuple of integers as input. The function should return the maximum and
# minimum values from the tuple using tuple unpacking&

def min_max(tuple1):
    # if not isinstance(tuple1, tuple):
    #     return f"{tuple1} is not tuple"
    # if not all(isinstance(x, int) for x in tuple1):
    #     return "error something where not int"
    min_value = min(tuple1)
    max_value = max(tuple1)
    return min_value, max_value
a = (2,4,6,8,10)
min_max(a)
x , y = min_max(a)
print(f"maximume value is {y} and minimum value is {x}")

maximume value is 10 and minimum value is 2

In [13]:
#Q-28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
# two sets&

set1 = {1,2,50,6,23,31}
set2 = {1,545,5,23,3,91}

print("orignal set1", set1)
print("orignal set2", set2)

print("Union",set1.union(set2)) # one way
########## Second way ###############
set_union = set()
i = 0
set_union.update(set1)
while i<len(set2)-1:
    for num in set2:
        if num not in set_union:
            set_union.add(num)
        i+=1
a= sorted(set_union)
a = set(a)
print("union-2", a) # second way
########## Second way ###############
    
print("intersection",set1.intersection(set2))                       ######## one way ###########

########## Second way ###############

j=0
set_intersection = set()
while j<len(set1)-1:
    for num in set1:
        if num in set2:
            set_intersection.add(num)
        j+=1
print("intersection-2 : ", set_intersection)

########## Second way ###############

print("difference-1",set1.difference(set2))               ########## one Way ###########
print("difference-2",set2.difference(set1))               ########## one Way ###########

########## Second way ###############
k=0
l=0
diff_1 = set()
diff_2 = set()
while k<len(set1)-1 or l<len(set2)-1:
    for num in set1:
        if num not in set2:
            diff_1.add(num)
        k+=1
    for num in set2:
        if num not in set1:
            diff_2.add(num)
        l+=1
print("diff_1 : ", diff_1, "\ndiff_2 :", diff_2)


########## Second way ###############

orignal set1 {1, 2, 50, 6, 23, 31}
orignal set2 {1, 545, 3, 5, 23, 91}
Union {1, 2, 545, 3, 5, 6, 50, 23, 91, 31}
union-2 {1, 2, 3, 545, 5, 6, 50, 23, 91, 31}
intersection {1, 23}
intersection-2 :  {1, 23}
difference-1 {2, 50, 6, 31}
difference-2 {545, 91, 3, 5}
diff_1 :  {2, 50, 6, 31}
diff_2 : {545, 91, 3, 5}

In [57]:
#Q-29 Write a code that takes a tuple and an element as input. The function should return the count of
# occurrences of the given element in the tuple&

def count_occur(input_table, element):
    if not isinstance(input_table, tuple):
        return "This is not tuple"
        
    return input_table.count(element)
tuple1= input("Enter tuple element : ")
tupl =  tuple(tuple1.split(","))
count = tupl[2]
occur=count_occur(tupl, count)
print(f"{count} occurance is {occur} in the tuple")

Enter tuple element :  5,6,2,3,6,2,4,3,2,6,8,2

2 occurance is 4 in the tuple

In [19]:
#Q-30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
# these two sets.

a =  input("Enter First set of string with commas : ")
b = input("Enter Second set of string with commas : ")

set1 = set(a.split(","))
set2 = set(b.split(","))

set1.symmetric_difference(set2)

Enter First set of string with commas :  ankur,sonu,gupta,shivank,happy
Enter Second set of string with commas :  shivam,sonu,garg,monu,vishal

{'ankur', 'garg', 'gupta', 'happy', 'monu', 'shivam', 'shivank', 'vishal'}

In [48]:
#Q-31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
# and the values are the frequencies of those words in the input list.

a =  input("Enter First set of string with commas : ")
b = input("Enter Second set of string with commas : ")

list1 = list(a.split(","))
list2 = list(b.split(","))
set1 = set(list1)
set2 = set(list2)
dic = {}
unique = set1.union(set2)
all_list = list1+list2

for num in unique:
        dic[num] = all_list.count(num)
dic

Enter First set of string with commas :  ankur,sonu,gupta,shivank,happy
Enter Second set of string with commas :  shivam,sonu,garg,monu,vishal,ankur,sonu,gupta,shivank,happy

{'vishal': 1,
 'happy': 2,
 'monu': 1,
 'garg': 1,
 'ankur': 2,
 'shivank': 2,
 'shivam': 1,
 'sonu': 3,
 'gupta': 2}

In [46]:
# way-2

a =  input("Enter First set of string with commas : ")
b = input("Enter Second set of string with commas : ")

list1 = list(a.split(","))
list2 = list(b.split(","))
set1 = set(list1)
set2 = set(list2)
dic = {}
unique = set1.union(set2)
all_list = list1+list2

for num in all_list:
        dic[num] = all_list.count(num)
dic

Enter First set of string with commas :  ankur,sonu,gupta,shivank,happy
Enter Second set of string with commas :  shivam,sonu,garg,monu,vishal,ankur,sonu,gupta,shivank,happy

{'ankur': 2,
 'sonu': 3,
 'gupta': 2,
 'shivank': 2,
 'happy': 2,
 'shivam': 1,
 'garg': 1,
 'monu': 1,
 'vishal': 1}

In [55]:
#32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
# common keys, the values should be added together&

# this is a basic of type input as a dictionary input, it takes only str as input
print("enter first dictionary ")
dict1 = {}

while True:
    key = input("enter key : ")
    if key.lower() == "done":
        break
    value = input("enter value")
    dict1[key] = value
print("enter second dictionary")
dict2 = {}
while True:
    key= input("enter key")
    if key.lower() == "done":
        break
    value =input("enter value")
    dict2[key]=value
dict1.update(dict2)
print("marge dictionary\n",dict1)

enter first dictionary

enter key :  sonu
enter value garg
enter key :  ankur
enter value garg
enter key :  done

enter second dictionary

enter key sonu
enter value gupta
enter key ankur
enter value gupta
enter key done

marge dictionary
 {'sonu': 'gupta', 'ankur': 'gupta'}

In [27]:
#Way-2 its a proper input as a dictionary
def merge_dictionaries(dict1, dict2):
    """
    Merge two dictionaries into a single dictionary.
    If there are duplicate keys, the values from dict2 will overwrite those from dict1.
    
    :param dict1: First dictionary
    :param dict2: Second dictionary
    :return: Merged dictionary
    """
    merged_dict = dict1.copy()  # Make a copy of the first dictionary
    merged_dict.update(dict2)   # Update with the second dictionary
    return merged_dict

# Take dictionary inputs from the user
print("Enter the first dictionary (in Python dict format, e.g., {'key1': value1, 'key2': value2}):")
dict1 = eval(input("Dictionary 1: "))  # Convert input string to dictionary (use eval cautiously)

print("Enter the second dictionary (in Python dict format):")
dict2 = eval(input("Dictionary 2: "))  # Convert input string to dictionary

# Merge the dictionaries
merged = merge_dictionaries(dict1, dict2)

# Display the merged dictionary
print("Merged Dictionary:", merged)

Enter the first dictionary (in Python dict format, e.g., {'key1': value1, 'key2': value2}):

Dictionary 1:  {1 : "Ankur"}

Enter the second dictionary (in Python dict format):

Dictionary 2:  {2 : "sonu"}

Merged Dictionary: {1: 'Ankur', 2: 'sonu'}

In [9]:
# Way-3
def dicto():
    while True:
        try:
            input1 = eval(input("enter dictionary : "))
            if isinstance(input1, dict):
                return input1
        except (ValueError, SyntaxError):
            print("Enter proper dictionary")

def marge_dictionary(dict1, dict2):

    marge = dict1.copy()
    marge.update(dict2)
    return marge

print("Enter first dictionary")
dict1 = dicto()
print("Enter second dictionary")
dict2 = dicto()
marge_dictionary(dict1, dict2)

Enter first dictionary

enter dictionary :  [b]

NameError: name 'b' is not defined

In [ ]:
# Way-4

import ast

def input_dictionary():
    """
    Function to input a dictionary with any type of data.
    The user provides the dictionary in Python dict format.
    """
    print("Enter the dictionary in Python dict format (e.g., {'a': 1, 'b': [2, 3], 'c': {'d': 4}}):")
    while True:
        try:
            user_input = input("Your dictionary: ")
            result = ast.literal_eval(user_input)  # Safely parse the input
            if isinstance(result, dict):
                return result
            else:
                print("Input is not a valid dictionary. Please try again.")
        except (ValueError, SyntaxError):
            print("Invalid format. Please try again.")

def merge_dictionaries(dict1, dict2):
    """
    Merge two dictionaries into a single dictionary.
    If there are duplicate keys, the values from dict2 will overwrite those from dict1.
    """
    merged_dict = dict1.copy()
    merged_dict.update(dict2)
    return merged_dict

# Input dictionaries
print("Input the first dictionary:")
dict1 = input_dictionary()

print("Input the second dictionary:")
dict2 = input_dictionary()

# Merge the dictionaries
merged = merge_dictionaries(dict1, dict2)

# Display the merged dictionary
print("Merged Dictionary:", merged)

Input the first dictionary:
Enter the dictionary in Python dict format (e.g., {'a': 1, 'b': [2, 3], 'c': {'d': 4}}):

Your dictionary:  [b,c]

Invalid format. Please try again.

In [41]:
#Q-33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
# keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
# function should return None&

def get_nested_value(d, keys):
    """
    Access a value in a nested dictionary.

    :param d: The dictionary to access.
    :param keys: A list of keys representing the path to the desired value.
    :return: The corresponding value if all keys exist, otherwise None.
    """
    current = d
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]  # Move deeper into the dictionary
        else:
            return None  # Return None if the key is missing
    return current

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 42,
            'd': [1, 2, 3]
        },
        'e': 'hello'
    }
}

# Accessing a nested value
keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))  # Output: 42

# # Accessing a non-existent path
# keys = ['a', 'x', 'y']
# print(get_nested_value(nested_dict, keys))  # Output: None

# # Accessing a deeper list
# keys = ['a', 'b', 'd', 1]
# print(get_nested_value(nested_dict, keys))  # Output: 2

42

In [66]:
# Q-34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
# can choose whether to sort in ascending or descending order&
import ast
def dicti():
    while True:
        try:
            input_disct = input("Enter dictionary in way of dict")
            result = ast.literal_eval(input_disct)
            if isinstance(result, dict):
                return result
        except (ValueError, SyntaxError):
            print("Enter proper dictionary")
# dict1 = dicti()
def sorted_dict(dict1, ascending = True ):
# list(map(lambda x :sorted(x), dict1))
    sorted_item = sorted(dict1.items(), key =lambda x :x[1], reverse= not ascending)
    sorted_item = dict(sorted_item)
    return sorted_item
dict1 = dicti()
print(sorted_dict(dict1, ascending =  True)) # Ascending order
print(sorted_dict(dict1, ascending= False)) # decending order

Enter dictionary in way of dict {'banana': 1, 'cherry': 2, 'apple': 3}

{'banana': 1, 'cherry': 2, 'apple': 3}
{'apple': 3, 'cherry': 2, 'banana': 1}

In [ ]:
# Q-35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
# correctly handles cases where multiple keys have the same value by storing the keys as a list in the
# inverted dictionary

In [1]:
import ast
def dicti():
    while True:
        try:
            input_disct = input("Enter dictionary in way of dict")
            result = ast.literal_eval(input_disct)
            if isinstance(result, dict):
                return result
        except (ValueError, SyntaxError):
            print("Enter proper dictionary")
def swaping(dict1):
    swap = {}
    for key, value in dict1.items():
        if value in swap:
            swap[value].append(key)
        else:
            swap[value] = [key]
    return swap
dict1 = dicti()
inver = swaping(dict1)
inver

Enter dictionary in way of dict {'apple': 3, 'banana': 1, 'cherry': 3, 'date': 2, 'fig': 1}

{3: ['apple', 'cherry'], 1: ['banana', 'fig'], 2: ['date']}

Enter dictionary in way of dict {'apple': 3, 'banana': 1, 'cherry': 3, 'date': 2, 'fig': 1}

{3: 'cherry', 1: 'fig', 2: 'date'}